<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="home.css">
    <title>Home</title>
</head>
<body>
    <div class="header">
        <span class="header__text">Casino<span style="color: red;">Web</span></span>
        <div class="section">
            Section
        </div>
        <a href="#">Log In</a>
        <a href="#">Log Out</a>   
        <img class="rank" src="https://s3.amazonaws.com/images.ecwid.com/images/224443/1150688162.jpg" alt="Rank">
        <img class="profile__picture" src="https://static.tildacdn.com/tild6338-3666-4133-a633-643664333838/photo.jpg" alt="Profile Picture">
    </div>
    <div class="game__list">
        <div class="game__list__header">
            <form>
                <input type="search" placeholder="Search...">
                <button type="submit">
                    <i class="fas fa-search"></i>
                </button>
              </form>
            <p>Games</p>
        </div>
        <div class="games">
            <div class="game">
                <a class="team1">Al Nasar</a>
                <p class="time">05.11.2023 18.39</p>
                <p class="kf">3.71</p>
                <p class="kf">1.54</p>
                <p class="kf">1.21</p>
                <p class="point">+462 point</p>
                <a class="team2">Barselona</a>
                <p class="tv">TV ~</p>
                <p class="members">546 players</p>    
            </div>
        </div>
    </div> 
</body>
</html>